*{
  background-color: wheat;
  margin: 0;
  padding: 0;
}

.homepage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
  

  
}

.description{
  width: 50%;
  margin-left: 20px;
  font-size: medium;
}

.bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}